header img{
	width: 200px;
	height: 90px;
	margin-left: 20px;
	padding-bottom: 0px;
}
#entete{
	background-color: white;
	margin-top: 5px;
}

#image{
	width: 100%x;
	height: 80px;
	margin-top: 5px;
}

h1{
	font-size: 40px;
	margin-left: 20px;
	margin-top: 10px;
}

#navigation {
	
	margin-top: 10px;

}

#formu{
	margin-right: 15px;
	
}

#menu{
	margin-left: 25px;
}

li a{
	font-size: 18px;
}
.dropdown-menu{
	font-size: 5px;
}
footer{
	background-color: rgb(100,120,102);
	padding: 0;
	margin: 0;
}

/* slider */

#formul{
	
	margin-left: 70px;
}